.header_div{
    background: aqua;
    color: white;
}
.header_div img{
    width: 200px;
}
.main_div{
    background: yellow;
    padding: 10px;
    margin-top: 15px;
    border: 3px solid white;
    width: 100%;
}
.main_div label{
    background: lime;
    width: 310px;
    padding: 10px;
    margin-bottom: 0px;
    box-shadow: 5px 5px 18px gray;
}
#camera{
    background-color: black;
    border: 2px solid white;
    width: 50%;
    height: 200px;
    margin: 10px;
    box-shadow: 5px 5px 18px skyblue;
}
.div1{
    background-color: red;
    color: white;
}
.div_result{
    background: aqua;
    color: white;
    height: 25px;
    width: 100px;
    font-size: 10px;
}
.footer_div{
margin-bottom: 50px;
}
.footer_div h4{
background: cyan;
border-radius: 10px;
padding: 5px;
box-shadow: 5px 5px 18px darkcyan;
}
.footer_div img{
width: 70px;
}
.copy_right_footer{
position: fixed;
color: red;
bottom: 0;
width: 100%;
background-color: gray;
line-height: 3;
text-align: center;
}